.legends-info {
    width: 30%;
    margin-top: 5rem;
    margin-left: 2.5rem;
    text-align: center;
}

.legends-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    margin-right: 3.5rem;
}

.img-info-item{
    justify-content: right;
}


#fg-item {
    background: rgb(45, 135, 236);
}

#cv-item {
    background-color: rgb(251, 255, 0);
}

#grb-item {
    background-color: rgb(168, 51, 204);
}

#dl-item {
    width: 1rem;
    height: 1rem;
}

#gl-item {
    background-color: chocolate;
}

#dr-item {
    background-color: lime;
}

#dgyaw-item {
    background-color: red;
}