@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --margin-table-text:0.1rem 0.9rem;
    --padding-table-text: 0.5rem 0.9rem;
    --fontsize-table-header: 2rem;
    --fontsize-table-text: 1.2rem;
    --gap-table-elements: 1em;
    --fontfamily-table-elements: Arial, Helvetica, sans-serif;;
}